
<div class="main_div">
    <div class="photo_div">
        <img src="../images/university.jfif"/>
    </div>
    <div class="buttons_div">
        <div class="buttons_columns">
            <div class="column_div">
                <a><div>Розклад</div></a>
                <a><div>Завдання</div></a>
                <a><div>Навчальний план</div></a>
            </div>
            <div class="column_div">
                <a><div>Курси</div></a>
                <a><div>Успішність</div></a>
                <a><div>Новини</div></a>
            </div>
        </div>
    </div>
</div>
